@{
    ViewData["Title"] = "Home Page";
}

<section id="home" class="home">
    <div class="banner">
        <div class="bg-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner-text">
                            <h2>
                                Welcome to <span style="color: red">Ethereal</span> World
                            </h2>
                            <p>
                                Cras aliquet et mi id fermentum. Suspendisse eget sodales
                                euismod.
                            </p>
                            <a href="#" class="banner-button">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="feature-box d-flex">
                    <div class="icon-box">
                        <i class="far fa-lightbulb"></i>
                    </div>
                    <div class="feature-text">
                        <h4>Elementum laoreet</h4>
                        <p>
                            Cras aliquet et mi id fermentum. Suspendisse eget sodales
                            lorem, vestibulum euismod lectus.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-box d-flex">
                    <div class="icon-box">
                        <i class="far fa-eye"></i>
                    </div>
                    <div class="feature-text">
                        <h4>Elementum laoreet</h4>
                        <p>
                            Cras aliquet et mi id fermentum. Suspendisse eget sodales
                            lorem, vestibulum euismod lectus.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-box d-flex">
                    <div class="icon-box">
                        <i class="far fa-heart"></i>
                    </div>
                    <div class="feature-text">
                        <h4>Elementum laoreet</h4>
                        <p>
                            Cras aliquet et mi id fermentum. Suspendisse eget sodales
                            lorem, vestibulum euismod lectus.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 text-center text">
                <h3 class="portfolio-title">Our Work</h3>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img src="/assets/img/portfolio-1.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img src="/assets/img/portfolio-2.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img src="/assets/img/portfolio-3.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img src="/assets/img/portfolio-4.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
                <a href="#" class="view-btn">View More Items</a>
            </div>
        </div>
    </div>
</section>

<div id="testimonial" class="col-md-12 text-center">
    <h3>Our Testimonials</h3>
</div>
<section class="slider">
    <div class="container">
        <div id="slider" class="owl-carousel">
            <div class="content-area">
                <div class="text-content">
                    <p>
                        <sup><i class="fas fa-quote-left"></i></sup>Lorem ipsum dolor
                        sit amet consectetur, adipisicing elit.<sup>
                            <i class="fas fa-quote-right"></i>
                        </sup>
                    </p>
                </div>
                <div class="team-info d-flex">
                    <img src="/assets/img/team-img-01.jpg" alt="" />
                    <h5>Yogesh singh</h5>
                </div>
            </div>
            <div class="content-area">
                <div class="text-content">
                    <p>
                        <sup><i class="fas fa-quote-left"></i></sup>Proin tincidunt,
                        orci vel volutpat blandit, purus turpis faucibus massa, sit amet
                        posuere nunc diam in ex.<sup>
                            <i class="fas fa-quote-right"></i>
                        </sup>
                    </p>
                </div>
                <div class="team-info d-flex">
                    <img src="/assets/img/team-img-02.jpg" alt="" />
                    <h5>Brad Will</h5>
                </div>
            </div>
            <div class="content-area">
                <div class="text-content">
                    <p>
                        <sup><i class="fas fa-quote-left"></i></sup>Morbi velit mauris,
                        hendrerit in convallis vel, laoreet et orci. Integer semper, est
                        vel congue suscipit, nisl nibh convallis lorem, sit amet
                        faucibus purus lacus eu nulla. Sed nec blandit ante, sed semper
                        tellus.<sup><i class="fas fa-quote-right"></i></sup>
                    </p>
                </div>
                <div class="team-info d-flex">
                    <img src="/assets/img/team-img-03.jpg" alt="" />
                    <h5>John Deo</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="subscribe">
    <div class="subscribe-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="subscribe-text">
                        <h3>Subscribe For Updates</h3>
                        <p>
                            Join our 1000+ subscribers and get access to the latest tools,
                            freebies, product announcements and much more!
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="#" class="subscribe-button">Subscribe Now</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>About Us</h3>
            </div>
            <div class="col-md-6">
                <div class="about-text">
                    <p>
                        Donec velit ex, faucibus eu mauris in, sodales placerat augue.
                        Phasellus feugiat ex id enim laoreet mattis. Quisque velit quam,
                        pharetra non lorem vel, scelerisque ornare dolor. Etiam id ex
                        justo. Nullam nec ipsum non augue convallis gravida. Praesent
                        mattis placerat sodales. Pellentesque nec egestas neque.
                    </p>
                    <p>
                        Donec velit ex, faucibus eu mauris in, sodales placerat augue.
                        Phasellus feugiat ex id enim laoreet mattis. Quisque velit quam,
                        pharetra non lorem vel, scelerisque ornare dolor. Etiam id ex
                        justo. Nullam nec ipsum non augue convallis gravida. Praesent
                        mattis placerat sodales. Pellentesque nec egestas neque.
                    </p>
                </div>
            </div>
            <div class="col-md-6 d-flex">
                <div class="col-md-6">
                    <div class="counter-item">
                        <h5>Our Clients</h5>
                        <span>55</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="counter-item">
                        <h5>Project completed</h5>
                        <span>88</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="contact" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h3>Contact Us</h3>
                    </div>
                </div>
                <div class="col-md-7 col-sm-offset-0 col-sm-6 col-xs-offset-1 col-xs-10">
                    <div class="contact-form">
                        <form action="#" method="post" role="form">
                            <div class="col-md-6">
                                <input type="text"
                                       class="form-control"
                                       id="name"
                                       placeholder="Name" />
                            </div>
                            <div class="col-md-6">
                                <input type="email"
                                       class="form-control"
                                       id="email"
                                       placeholder="Email" />
                            </div>
                            <div class="col-md-12">
                                <textarea class="form-control"
                                          placeholder="Message"
                                          rows="6"></textarea>
                            </div>
                            <div class="col-md-12 text-center">
                                <button type="submit" class="contact-button">
                                    Send Message
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-5 col-xs-offset-1 col-xs-10">
                    <div class="address">
                        <h4>Address</h4>
                        <p>
                            123, This Appartment,<br />
                            Near Ocean Street<br />
                            New York<br />
                        </p>
                        <div class="email">
                            <i class="fa fa-at"></i>info@domain.com<br />
                            <i class="fa fa-mobile"></i>123 456 789
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
